*{

}
body {
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    background-color: rgba(10, 124, 228, 1);
    padding: 10px;
    position: relative;
    justify-content: space-between;
}
.cima_header{
    margin: 0 auto;
    gap: 100px;
    display: flex;
    align-items: center;
    
}
nav{
    margin: 0 auto;
    gap: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px
}
.link_pghome{
    display: flex;
    align-items: center;
}
.nav_links{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
}
.barra_de_pesquisa{
    display: flex;
    align-items: center;
    height: 40px;
    width: 600px;
}

.barra_de_pesquisa:focus, input:focus, select:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 
.texto_de_busca{
    padding: 0;
    border-radius: 20px 0 0 20px;
    border: 0;
    height: 100%;
    padding: 0 0 0 10px;
    width: 100%;
}

.busca-botão{
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 0 20px 20px 0;
    border-left: solid 1px rgb(141, 139, 139);
    height: 100%;
    padding: 0 10px 0 5px;
}
#lupa{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 5px 0 5px;
}
.todos_produtos {
    display: grid;
    width: 1200px;
    margin: 30px auto;
    align-items: center;
    justify-items: center;
    grid-template-areas: "1 2 3 4";   
}
.produtos {
    border-radius: 10px;
    margin: 10px 0 20px 0;
    padding: 10px;
    height: 388px;
    width: 234px;
    background-color: rgba(217, 217, 217, 1);
}
.imagem_produto_div{

}

.imagem_produtos {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.texto_produto{
    font-size: 15px;
}
a{
}
.nome_produto_link{
    display: block;
    text-align: center;
    margin: 10px 0;
}
.texto_links{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
.banners{
    margin: 10px 0;
    display: flex;
    justify-content: center;
}
.banners_img{
    border-radius: 20px;
    margin: auto;
}
#rodape {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
}

footer {
    background-color: rgba(4, 21, 47, 1);
    color: white;
    padding-left: 10px;
    position: relative;
    left: 0;
    bottom: 0;
    margin: 0;
}
#margin_footer{
    margin-bottom: 0;
    text-align: left;
}
.estrela{

    display: flex;
    align-items: center;
    justify-content: center;
}
p,h2{
    text-align: center;
}
.zap{
    display: flex;
    align-items: center;
    gap: 5px;
}